/* 
  File Name: HeroImg2Styles.css
  Student's Name: Your Name
  Student ID: 123456
  Date: January 28, 2024
*/

.hero-img{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height:60vh;
    position: relative;
}

.heading{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img::before{
    content: "";
    background: url("https://v.etsystatic.com/video/upload/q_auto/Preview_Vtuber_Background_Animated_Cosy_Lofi_Cafe_byMellowLanes_bxhkob.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img h1{
    font-size: 2.4rem;
}
.hero-img p{
    font: size 1.4rem;
    text-align: center;
}
